  <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>Your News</title>
  </head>
  <body>
<br>
<div class="container">
<div class="row my-12">
<div class="col-md-10">
      <h1>The <%= @location %> Report</h1>
</div>
<div class="col-md-2">
<form action="/">
<button type="submit" class="btn btn-primary">Search Somewhere Else</button>
</form>
</div>
</div>
</div>
<br>

<!-- FORECAST: create loop to extract each day forecast and throw into a table -->
<% current_temperature = @forecast["currently"]["temperature"] %>
<% conditions = @forecast["currently"]["summary"] %>

<h2><u>Your weather forecast:</u></h2><br>

<div class="container">
<div class="row my-3">
<div class="col-md-8">
<h3>It's currently <%= current_temperature.round() %> and <%= conditions %>.</h3>
</div>
</div>

<% i = 1 %>
<% for day in @forecast["daily"]["data"] %>
<div class="row my-2">
<div class="col-md-12">
 <%   if i == 1 %>
  <h3>Tomorrow, expect a high temperature of <%= day["temperatureHigh"].round() %> and <%= day["summary"] %></h3>
   <% else %>
    <h3>In <%= i %> days, expect a high temperature of <%= day["temperatureHigh"].round() %> and <%= day["summary"] %></h3>
   <% end %>
 <% i = i + 1 %>
</div>
</div>
<% end %>
</div>
<br><br>
 
<h2><u>Top news for today:</u></h2><br>

<div class="container">
<% for story in @articles %>
<% headline = story["title"] %>
<% link = story["url"] %>
<div class="row my-3">
<div class="col-md-8">
<h3><%= headline %>
</div>
<div class="col-md-4">
<a href="<%= link %>" target="_blank">Link</a>
</h3>
 </div>
 </div>
<% end %>
</div>
<br><br>

<h5><center>Thank you for reading! Now go out and live...<center></h5>
<br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>